/* You can add global styles to this file, and also import other style files */



body{
    margin-left: 5%;
    margin-right: 5%;
    font-family: sans-serif;
    background-color: #ECF1F2!important;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
}